/sounds
/evaluation
/Model 0- backup
/images for thesis
/Harmonic+Noise - backup
/AnalizeDB
/Anisotropic Diffusion
/ToIzhar
/TrillDB/*.wav
/TrillDB/*.mat
/Generalization/Single Trills
/Generalization/figs for presentation