/sounds
/evaluation
/Model 0- backup
/images for thesis
/Harmonic+Noise - backup
/AnalizeDB
/Anisotropic Diffusion
/ToIzhar
/TrillDB/*.wav
/TrillDB/*.mat
/Generalization/Single Trills
/Generalization/figs for presentation
/PitchSlope
/Presentation Scripts
/Longtrill Detection-Alg2
/Longtrill Detection-Alg3
/Longtrill Detection - Usion AOI
/LongTrillDetect3